@page "/reports"


@if (Plugins != null)
{
    <select class="form-select" @bind="@selectedPluginName">
        @foreach (var plugin in Plugins)
        {
            <option value="@plugin">@plugin</option>
        }
    </select>

    <div class="form-floating mt-3">
        <textarea class="form-control" style="height: 300px;" @bind="json" />
        <label>Report Parameters (json)</label>
    </div>

    <button class="btn btn-primary mt-3" @onclick="PostReportAsync" disabled="@(selectedPluginName == null)">Generate Report</button>


    <div class="mt-5">
        @if (reportArchive != null)
        {
            <a class="btn btn-primary" href="/api/reports/archive/@reportArchive.Id/file">Download @reportArchive.Name</a>
        }
    </div>
}

@code {
    [Inject]
    public HttpClient HttpClient { get; set; }

    private string selectedPluginName = string.Empty;
    private string json = "{ }";

    private ReportArchive reportArchive;

    private IEnumerable<string> Plugins { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Plugins = await HttpClient.GetFromJsonAsync<string[]>("api/reports/plugins");
        selectedPluginName = Plugins.FirstOrDefault();
    }

    private async Task PostReportAsync()
    {
        var response = await HttpClient.PostAsync($"api/reports/{selectedPluginName}", new StringContent(json));
        reportArchive = await response.Content.ReadFromJsonAsync<ReportArchive>();
    }
}
