@page "/reports/{ReportId:int}/generate"

@if (Report != null)
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/reports">Reports</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Report.Name</li>
        </ol>
    </nav>

    <div class="bg-light mt-3 p-4">
        <div class="mb-3">
            <h3>Generate @Report.Name Report</h3>
            <p class="text-muted">@Report.Description</p>
        </div>

        <div class="mb-3">
            <select class="form-select" @onchange="OnChangeBranchAsync">
                @foreach (var branch in Report.Branches)
                {
                    <option value="@branch.Id">@branch.Name</option>
                }
            </select>
        </div>

        @if (Branch != null)
        {
            <div>
                <div class="mb-3">
                    <p><span class="text-muted">@Branch.Description</span></p>
                </div>

                <div>
                    <form name="reportParameters" @onsubmit="GenerateReportAsync">
                        @foreach (var parameter in Branch.Parameters)
                        {
                            <div class="mb-3">
                                <label class="form-label">@parameter.Name</label>
                                <input type="@parameter.InputType" name="@parameter.Name" class="form-control" required="@parameter.IsMandatory">
                            </div>
                        }

                        <div class="mt-4 mb-3 row">
                            <div class="col-md-9 mb-3">
                                @if (reportArchive != null)
                                {
                                    <div class="d-flex">
                                        <h4 class="text-success me-3">Your report was successfully generated</h4>
                                        <a class="btn btn-primary" href="/api/reports/archive/@reportArchive.Id/file">Download @reportArchive.Name</a>
                                    </div>

                                }
                                @if (errorString != null)
                                {
                                    <div>
                                        <h4 class="text-danger">Failed to generate report, error response: </h4>
                                        <code>
                                            @(new MarkupString(errorString))
                                        </code>
                                    </div>
                                }
                            </div>
                            
                            <div class="col-md-3 mb-3">
                                <button class="btn btn-primary float-md-end" type="submit" disabled="@isWaiting">
                                    @if (isWaiting)
                                    {
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        <span>Generating...</span>
                                    }
                                    else
                                    {
                                        <span>Generate Report</span>
                                    }
                                </button>
                            </div>
                            
                        </div>
                        
                    </form>
                </div>
                

                <div class="mb-3">
                    
                </div>
                </div>
            
        }
    </div>
}
