@page "/admin/reportbranches/{ReportId:int}"

@if (Report != null)
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Admin</li>
            <li class="breadcrumb-item"><a href="/admin/reports">Reports</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Report.Name</li>
        </ol>
    </nav>

    <div class="mb-3 d-flex">
        <div>
            <h4 class="">@Report.Name</h4>
        </div>        
        <div class="ms-auto">
            <button class="btn btn-primary" @onclick="AddReportBranchAsync">Add Branch</button>
        </div>
    </div>

    <div class="bg-light p-3">
        <div class="mb-3 d-flex">
            <div class="w-50">
                <select class="form-select" @onchange="OnChangeBranchAsync">
                    @foreach (var branch in Report.Branches)
                    {
                        <option value="@branch.Id">@branch.Name</option>
                    }
                </select>
            </div>
            <div class="ms-2">
                <button class="btn btn-primary" @onclick="() => EditReportBranchAsync(Branch)">Edit @Branch.Name</button>
            </div>
        </div>

        @if (Branch != null)
        {

            <div class="card mb-3">
                <div class="card-header">
                    Current Version
                </div>
                <div class="card-body">
                    @if (Branch.Plugin != null)
                    {
                        <h5 class="card-title">@Branch.Plugin.Version</h5>
                        <p class="card-text">@Branch.Plugin.Changelog</p>
                    }
                    else
                    {
                        <p class="card-text">There isn't current plugin for this branch</p>
                    }

                    <a class="btn btn-sm btn-primary" href="/admin/reports/branches/@Branch.Id/update">Update Plugin</a>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    Parameters
                </div>
                <div class="card-body">
                    <EditForm class="mb-3 row g-3 d-flex align-items-center" Model="Parameter" OnValidSubmit="AddParameterAsync">
                        <div class="col-md-auto">
                            <InputText class="form-control" @bind-Value="Parameter.Name" required />
                        </div>
                        <div class="col-md-auto">
                            <InputSelect class="form-select" @bind-Value="Parameter.InputType">
                                <option value="checkbox">checkbox</option>
                                <option value="date">date</option>
                                <option value="text">text</option>
                                <option value="number">number</option>
                                <option value="file">file</option>
                            </InputSelect>
                        </div>
                        <div class="col-md-auto">
                            <div class="form-check">
                                <InputCheckbox class="form-check-input" type="checkbox" id="isMandatoryCheck" @bind-Value="Parameter.IsMandatory" />
                                <label class="form-check-label" for="isMandatoryCheck">
                                    Is Mandatory
                                </label>
                            </div>
                        </div>
                        <div class="col-md-auto">
                            <button class="btn btn-primary" type="submit">Add</button>
                        </div>

                        <DataAnnotationsValidator />
                    </EditForm>

                    <div class="mb-3">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Input Type</th>
                                    <th>Is Mandatory</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var parameter in Branch.Parameters)
                                {
                                <tr>
                                    <td>@parameter.Name</td>
                                    <td>@parameter.InputType</td>
                                    <td>@parameter.IsMandatory</td>
                                    <td>
                                        <a href="javascript:void(0)" class="btn btn-outline-danger" @onclick="() => RemoveParameterAsync(parameter)">
                                            <i class="bi bi-trash-fill"></i>
                                        </a>
                                    </td>
                                </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    Secret Parameters
                </div>
                <div class="card-body">
                    <EditForm class="row g-3 mb-3 d-flex align-items-center" Model="Secret" OnValidSubmit="AddSecretAsync">
                        <div class="col-md-auto">
                            <InputText class="form-control" @bind-Value="Secret.Name" required />
                        </div>
                        <div class="col-md-auto">
                            <InputText class="form-control" @bind-Value="Secret.Value" required />
                        </div>
                        <div class="col-md-auto">
                            <button class="btn btn-primary" type="submit">Add</button>
                        </div>
                    </EditForm>

                    <div class="mb-3">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var secret in Branch.Secrets)
                                {
                                    <tr>
                                        <td>@secret.Name</td>
                                        <td class="overflow-auto">@secret.Value</td>
                                        <td>
                                            <a href="javascript:void(0)" class="btn btn-outline-danger" @onclick="() => RemoveSecretAsync(secret)">
                                                <i class="bi bi-trash-fill"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
    

    <Modal @ref="Modal" T="ReportBranchModel" ModalSize="EModalSize.Large" ModelFactory="() => new ReportBranchModel() { ReportId = ReportId }" 
           OnCreated="PostReportBranchAsync" OnUpdated="PutReportBranchAsync" CreateTitle="Create Branch" UpdateTitle="Edit Branch">
        @if (Modal != null && Modal.Model != null)
        {
            <div class="mb-3">
                <label>Name</label>
                <input @bind="@Modal.Model.Name" class="form-control" />
            </div>
            <div class="mb-3">
                <label>Description</label>
                <textarea @bind="@Modal.Model.Description" class="form-control" rows="5" />
            </div>
        }
    </Modal>
}